<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style type="text/css">
        @charset "UTF-8";
        [ng\:cloak],
        [ng-cloak],
        [data-ng-cloak],
        [x-ng-cloak],
        .ng-cloak,
        .x-ng-cloak,
        .ng-hide {
            display: none !important;
        }
        ng\:form {
            display: block;
        }
        .ng-animate-start {
            clip: rect(0, auto, auto, 0);
            -ms-zoom: 1.0001;
        }
        .ng-animate-active {
            clip: rect(-1px, auto, auto, 0);
            -ms-zoom: 1;
        }
    </style>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/js/horizon/e2176743197d.css" type="text/css" media="screen">
    <script src="/static/js/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/js/horizon/e1c20c29fbb2.js"></script>
    <script type="text/javascript" charset="utf-8">
        /*
        Added so that we can append Horizon scoped JS events to
        the DOM load events without running in to the "horizon"
        name-space not currently being defined since we load the
        scripts at the bottom of the page.
        */
        var addHorizonLoadEvent = function (func) {
            var old_onload = window.onload;

            if (typeof window.onload != 'function') {
                window.onload = func;
            } else {
                window.onload = function () {
                    old_onload();
                    func();
                }
            }
        }
    </script>
    {% block extraheaddata %}{% endblock %}
    <style></style>
</head>

<body ng-app="hz" class="ng-scope">
    <div id="container">
        <div class="topbar">
            <h1 class="brand"><a>OpenStack Dashboard</a></h1>
            <div class="context-box">
                <div id="tenant_switcher" class="dropdown switcher_bar" tabindex="1">
                    <h3>service</h3>
                </div>
            </div>
            <div id="user_info" class="pull-right">
                <div id="profile_editor_switcher" class="dropdown switcher_bar" tabindex="1">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <div>solum</div>
                    </a>
                    <ul id="editor_list" class="dropdown-menu">
                        <li class="divider"></li>
                        <li><a>Settings</a>
                        </li>
                        <li><a>Help</a>
                        </li>
                    </ul>
                </div>
                <a>Sign Out</a>
            </div>
        </div>
        <div id="main_content">
            <div class="messages">
            </div>
            <div class="sidebar">
                <div>
                    <dl class="nav_accordion">
                        <dt class="active">
                            <div>Project</div>
                        </dt>
                        <dd>
                            <div>
                                <h4 class=""><div>Compute</div></h4>
                                <ul style="display: none;">
                                    <li><a>Overview</a>
                                    </li>
                                    <li><a>Instances</a>
                                    </li>
                                    <li><a>Volumes</a>
                                    </li>
                                    <li><a>Images</a>
                                    </li>
                                    <li><a>Access &amp; Security</a>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <h4><div>Orchestration</div></h4>
                                <ul style="display: none;">
                                    <li><a>Stacks</a>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <h4><div>Solum</div></h4>
                                <ul style="display: none;">
                                    <li><a href="/solum" tabindex="1">Applications</a>
                                    </li>
                                </ul>
                            </div>
                        </dd>
                        <dt class="">
                            <div>Admin</div>
                        </dt>
                        <dd style="display: none;">
                            <div>
                                <h4 class=""><div>System Panel</div></h4>
                                <ul>
                                    <li><a>Overview</a>
                                    </li>
                                    <li><a>Hypervisors</a>
                                    </li>
                                    <li><a>Host Aggregates</a>
                                    </li>
                                    <li><a>Instances</a>
                                    </li>
                                    <li><a>Volumes</a>
                                    </li>
                                    <li><a>Flavors</a>
                                    </li>
                                    <li><a>Images</a>
                                    </li>
                                    <li><a>System Info</a>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <h4><div>Identity Panel</div></h4>
                                <ul style="display: none;">
                                    <li><a>Projects</a>
                                    </li>
                                    <li><a>Users</a>
                                    </li>
                                </ul>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
            {% block solumbody %}{% endblock %}
        </div>
    </div>

    <div id="footer">
    </div>

    {% block extrafooter %}{% endblock %}
    <script type="text/javascript" src="/static/js/horizon/saved_resource"></script>
    <script type="text/javascript" src="/static/js/horizon/0218443f736a.js"></script>
    <script type="text/javascript" charset="utf-8">
        // Call init on DOM ready.
        $(document).ready(horizon.init);
    </script>
</body>

</html>
